/*Variables initialization*/
:root {
    --main-color: #fff;
    --second-color: #00adff;
    --third-color: #555;
}


/*Common styles*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
section {
    padding: 4vw 0;
    scroll-margin-top: 60px;
}
a {
    text-decoration: none;
}
h1 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 4vw;
}
h2 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2vw;
}
h3 {
    font-size: 1.35vw;
}
h4 {
    font-size: 1.25vw;
}


/*Common class styles*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.row-2 {
    width: 50%;
}
.row-3 {
    width: 33.33%;
}
.title {
    text-align: center;
    padding-bottom: 2vw;
}


/*Header styles*/
#home {
    width: 100%;
    height: 100px;
    transition: all linear 0.2s;
}


/*Navbar styles*/
#navbar {
    position: fixed;
    top: 0;
    background-color: var(--main-color);
}
.navRow {
    height: 100px;
    transition: all linear 0.2s;
}
.navImageRow {
    width: 20%;
}
.navImageRow img{
    height: 80%;
    margin: 10px 0;
}
.navLinksRow {
    width: 80%;
}
.navLinksBlock {
    margin: 0 0;
}
.navLink {
    margin: 0 8px;
}
.navLink-a{
    padding: 12px;
    border-radius: 10px;
    color: black;
    font-size: 24px;
    transition: padding ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
}
.navLink-a:hover {
    box-shadow: 0 0 10px var(--third-color);
}
.navLink-a:active {
    color: black;
    box-shadow: 0 0 3px var(--third-color);
}
.navLink-a:focus-visible{
    box-shadow: 0 0 10px var(--third-color);
}
.navLink-a:visited {
    color: black;
}


/*Hero styles*/
#hero {
    padding: 0;
}
#hero .container {
    height: 450px;
    background-image: url("../images/hero-lutsk.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


/*About Us section styles*/
#aboutUs {
    background: var(--second-color);
    background: -webkit-radial-gradient(center, var(--second-color), var(--main-color));
    background: -moz-radial-gradient(center, var(--second-color), var(--main-color));
    background: radial-gradient(ellipse at center, var(--second-color), var(--main-color));
}
#aboutUs .block {
    margin: 0 1.25vw;
}
#aboutUs img{
    width: 100%;
}
#aboutUs p{
    margin-bottom: 16px;
    font-size: 1.35vw;
    color: var(--main-color);
}


/*Where To Go section styles*/
#whereToGo h2{
    color: #000;
}
.card {
    margin: 1.25vw;
    padding: 1vw;
    background: var(--second-color);
    background: -webkit-radial-gradient(center, var(--second-color), var(--main-color));
    background: -moz-radial-gradient(center, var(--second-color), var(--main-color));
    background: radial-gradient(ellipse at center, var(--second-color), var(--main-color));
}
.cardImage {
    width: 100%;
}
.cardImage img {
    width: 100%;
    object-fit: cover;
}
.cardTitle {
    margin-top: 16px;
    text-align: center;
}


/*Reviews section styles*/
#reviews {
    background: var(--second-color);
    background: -webkit-radial-gradient(center, var(--second-color), var(--main-color));
    background: -moz-radial-gradient(center, var(--second-color), var(--main-color));
    background: radial-gradient(ellipse at center, var(--second-color), var(--main-color));
}
.review {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    margin: 1.25vw;
    padding: 1.75vw;
    border-radius: 24px;
}
.reviewHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.25vw;
}
.reviewLogo {
    margin-left: auto;
}
.reviewLogo img {
    width: 2.5vw;
}
.reviewStars object {
    width: 25%;
}
.reviewBody p{
    margin-top: 0.5vw;
    font-size: 1vw;
}


/*Footer styles*/
footer div {
    width: 100%;
    /*height: 65px;*/
    height: 4vw;
    background-color: var(--third-color);
    color: var(--main-color);
}
footer p {
    font-size: 0.8vw;
    font-weight: 600;
}


/*Responsive & adaptive styles*/
@media only screen and (max-width: 1400px) {
    h4 {
        font-size: 1.35vw;
    }

    .navLink-a {
        font-size: 20px;
    }

    .reviewLogo img {
        width: 2.75vw;
    }
    .reviewStars object {
        width: 27.5%;
    }
    .reviewBody p{
        margin-top: 0.5vw;
        font-size: 1.1vw;
    }
}
@media only screen and (max-width: 990px) {
    /*Common styles*/
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    section {
        padding: 50px 0;
        scroll-margin-top: 80px;
    }

    /*Common class styles*/
    .row-2 {
        width: 100%;
    }
    .row-3 {
        width: 100%;
    }
    .title {
        padding-bottom: 34px;
    }

    /*Header styles*/
    #home {
        height: 160px;
    }

    /*Navbar styles*/
    .navRow {
        height: 80px;
    }
    .navLink {
        margin: 0 4px;
    }
    .navLink-a{
        padding: 12px;
        border-radius: 10px;
    }

    /*Hero styles*/
    #hero .container {
        height: 300px;
        /*height: 30vw;*/
    }

    /*About Us section styles*/
    #aboutUs .block {
        margin: 0 36px 12px;
        max-width: 800px;
    }
    #aboutUs p{
        margin-bottom: 12px;
        font-size: 24px;
    }

    /*Where To Go section styles*/
    .card {
        margin: 36px;
        padding: 24px;
    }
    .cardTitle {
        margin-top: 24px;
    }

    /*Reviews section styles*/
    .review {
        margin: 36px;
        padding: 36px;
    }
    .reviewHead {
        margin-bottom: 0;
    }
    .reviewLogo img {
        width: 54px;
    }
    .reviewStars object {
        width: 136px;
    }
    .reviewBody p{
        margin-top: 8px;
        font-size: 20px;
    }

    /*Footer styles*/
    footer div {
        height: 72px;
    }
    footer p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 576px) {

}