/*
  ========================================
  General Styles
  ========================================
*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
section {
	padding: 60px 0;
}
/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
	font-weight: 600;
	font-family: Arial;
	text-align: center;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p {
	font-size: 1.1em;
	font-family: Arial;
	text-align: justify;
	line-height: 1.4em;
}
/*
  ========================================
  Media
  ========================================
*/
img, video {
	max-width: 100%;
	height: auto;
}
.bgdark {
  background-color: #00a0e3;
  background: radial-gradient(rgb(0,160,227, .9), rgb(255,255,255, 0.9));
}  
.bglight {
  background-color: #f7f8f8;
}


/*
  ========================================
  Primary Navigation
  ========================================
*/

ul li {
	font-size: 1.2em;
	font-family: Arial;
	text-align: center;
	display: inline-block;
	margin: 0 5px 0 5px;
}
a {
	text-decoration: none;
}
